@media screen and (max-width: 600px) {
  .flex-right.but-mobile-down {
    flex-direction: column;
  }
  .mobile-hide {
    display: none;
  }

  .dot-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *::before {
      content: "" !important;
    }
  }

  header {
    text-align: center;
  }

  main {
    min-height: initial !important;
    overflow-y: initial;
  }
}